<fieldset>
  <legend>Submit Match</legend>
  <form action="/api/match/create" method="POST" class="js-match-create-form">
    <input type="text" name="challenger" placeholder="Udfordre's Brugernavn">
    <input type="text" name="challenged" placeholder="Udfordret's Brugernavn">

    <button type="submit" class="js-match-create-btn">Opret kamp</button>
  </form>
</fieldset>
