<fieldset>
  <legend>Submit Score</legend>
  <form action="/api/match/update" method="POST" class="js-match-update-form">
    <input type="text" name="challenger" class="js-challenger-input" placeholder="[Udfordre]'s Wins">
    <input type="text" name="challenged" class="js-challenged-input" placeholder="[Udfordret]'s Wins">

    <button type="submit" class="js-match-create-btn">Opdat&eacute;r Kamp</button>
  </form>
</fieldset>
