<fieldset>
  <legend>Submit Score</legend>
  <form action="/api/match/create" method="POST" class="js-match-create-form">
    <input type="text" name="challenger" placeholder="[Udfordre]'s Wins">
    <input type="text" name="challenged" placeholder="[Udfordret]'s Wins">

    <button type="submit" class="js-match-create-btn">Opdatér Kamp</button>
  </form>
</fieldset>
