<fieldset>
  <legend>Opret en bruger</legend>
  <form action="" method="POST">
    <input type="hidden" name="facebookid" id="facebookid">

    <input type="text" name="name" placeholder="Navn">
    <input type="text" name="username" placeholder="Brugernavn">
    <input type="password" name="password" placeholder="Kodeord">

    <button type="submit" class="js-create-btn manual-create-btn">Opret</button>
    <button type="submit" class="js-create-btn facebook-create-btn">Opret med Facebook</button>
  </form>
</fieldset>
